@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor1: #2B1515;
    --cor2: #FB9834;
    --preço: "Roboto Condensed", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    color: var(--cor1);
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

header h1{
    padding: 2rem 2rem 0rem 2rem;
    text-align: center;
}

    header img#logo-image{
        width: 30vw;
        margin: -.5rem;
    }
    header img#logo-text{
        width: 40vw;
    }
    #logos{
        display: flex;
        justify-content: center;
    }

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 700;
    font-size: 2vh;
    padding: 1rem 1rem 4rem;
}

nav p{
    border-bottom: 2px solid var(--cor1); 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    padding: .2rem;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: .2rem;
    border-bottom: 2px solid var(--cor1); 
}
    li, a{
        list-style: none;
        text-decoration: none;
    }

main article{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.price {
    font-family: var(--preço);
}